@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap');

body {
    /* font-family: 'Inter', sans-serif !important;
    font-family: 'Montserrat', sans-serif !important; */
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #2c353f;
}

H1 {
    color: #2c353f;
}

H2 {
    color: #2c353f;
}

H3 {
    color: #2c353f;
}

H4 {
    color: #2c353f;
}

H5 {
    color: #2c353f;
}

H6 {
    color: #2c353f;
}

li {
    color: #2c353f;
}

.jzGaAN {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.table1-head {
    font-size: 11px;
}